/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import '*';

body {
	margin: 0;
}

.nowrap {
	white-space: nowrap;
}

/* Mobile Table styling */
@media screen and (max-width: 767px) {
	.table-mobile td:before {
		position: absolute;
		top: .75em;
		left: 1em;
		width: 35%;
		padding-right: 1em;
		white-space: nowrap;
		overflow: hidden;
		font-weight: 700;
	}

	.table-mobile,
	.table-mobile td:last-child,
	tbody,
	td,
	th,
	thead,
	tr {
		display: block;
		border: 0;
	}

	.table-mobile td.table-mobile-btns {
		height: 55px;
	}

	.table-mobile thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.table-mobile tr {
		border: 1px solid #CCC;
		margin-bottom: 1em;
		box-shadow: 2px 2px #EEE;
		margin-right: 2px;
	}
	.table-mobile td, .table-mobile th {
		padding: .75em 1em !important;
		text-align: left;
		vertical-align: top;
		border-bottom: 1px solid #CCC;
	}
	.table-mobile td {
		position: relative;
		padding-left: 50% !important;
	}
}